@font-face {
    font-family: 'Reef';
    src: url(../fonts/reef-bold.ttf);
}

body {
    font-family: 'Reef';
    background-color: #b3b3b3;
}

ul {
    padding: 0;
}

button {
    border: none;
    background: none;
}

.header {
    position: relative;
}

.header {
    font-size: 2.5rem;
    padding: 20px 0 40px;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.star-2, .star-3, .star-4, .star-5 {
    margin-left: -4px;
}

.star-ico {
    fill: gray;
    pointer-events: none;
    color: rgb(255, 237, 134);
}

.hidden {
    display: none;
}

.headlines {
    padding-bottom: 20px;
}

.alerts {
    pointer-events: none;
    position: fixed;
    max-width: 300px;
    width: 90%;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.alert {
    text-align: center;
}

.buttons {
    display: block;
}

.button {
    float: right;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.heart {
    font-size: 20px;
    padding: 10px;
}

li:nth-child(2n) {
    background-color: #a8a8a8;
}

.dark-theme li:nth-child(2n) {
    background-color: #282c30;
}

.edit-field {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0007;
}

.edit-field-body {
    max-width: 500px;
    width: 95%;
    border-radius: 20px;
    position: relative;
}

.close__button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.stars label {
    display: inline;
}

.star {
	color: #747474;
    padding: 5px 2px;
    pointer-events: none;
}

.star-gold {
    color: gold;
}

.rate, .movie-rate {
	height: 50px;
	margin-left: -5px;
	font-size: 25px;
	position: relative;
}
.rate {
    cursor: pointer;
}

.rate input[type="radio"], .movie-rate input[type="radio"] {
	opacity: 0;
	position: absolute;
    pointer-events: all;
    width: 35px;
    height: 35px;
}
.rate input[type="radio"] {
    cursor: pointer;
}

.star-over::after {
	font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
	font-size: 22px;
	content: "\f005";
	display: inline-block;
	color: rgb(255, 238, 139);
	z-index: 1;
	position: absolute;
	top: 6px;
	left: 4px;
}

.edit-field.hidden {
    display: none;
}

.night-mode-label {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 30px;
}

.night-mode-label input[type="checkbox"] {
    opacity: 0;
}

.moon {
    padding: 10px;
    cursor: pointer;
}

[data-tooltip] { 
    position: relative; 
} 

[data-tooltip]::after { 
    content: attr(data-tooltip);  
    position: absolute; 
    width: 70px; 
    left: -10px; 
    top: 40px;  
    pointer-events: none; 
    opacity: 0;  
    transition: 1s; 
    font-size: 15px;
    font-family: 'Reef';
} 

[data-tooltip]:hover::after { 
    opacity: 1;  
    top: 50px;  
} 

.select {
    margin-left: auto;
    margin-right: 0;
    width: 200px;
}